<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.weardrop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".Other.App"
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="WEARDROP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <activity android:name=".Activity.MapActivity"></activity>
        <activity android:name=".Activity.MirrorActivity" />
        <activity android:name=".Activity.BuyUpdateActivity" />
        <activity android:name=".Activity.SaleUpdateActivity" />
        <activity android:name=".Activity.SelldetailActivity" />
        <activity android:name=".Activity.SellUpdateActivity" />
        <activity android:name=".Activity.Buydetail" />
        <activity android:name=".Activity.SellActivity" />
        <activity android:name=".Activity.BuywriteActivity" />
        <activity android:name=".Activity.Buy" />
        <activity android:name=".Activity.GalleryInsertActivity"/>
        <activity android:name=".Activity.GalleryUpdateActivity"/>
        <activity android:name=".Activity.GalleryDetailActivity"/>
        <activity android:name=".Activity.GalleryActivity"/>
        <activity android:name=".Activity.UpdateActivity" />
        <activity android:name=".Activity.SaledetailActivity" />
        <activity android:name=".Activity.Freedetail" />
        <activity android:name=".Activity.SaleActivity" />
        <activity android:name=".Activity.BoardwriteActivity" />
        <activity android:name=".Activity.Board"/>
        <activity android:name=".Activity.MypageActivity" />
        <activity android:name=".Activity.NoticeActivity" />
        <activity android:name=".Activity.CenterActivity" />
        <activity android:name=".Activity.CenterDetailActivity" />
        <activity android:name=".Activity.NoticeDetailActivity" />
        <activity android:name=".Activity.WeatherActivity" />
        <activity android:name=".Activity.SignActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBogRl4vK8Tp7y-CTBGTiahbDSrQXTRqTg" />
    </application>

</manifest>